{% extends 'base_page.html' %}
{% load i18n static %}

{% block title %}{% trans 'Create' %} | {{ block.super }}{% endblock %}
{% block page-title %}{% trans 'Create' %}{% endblock %}

{% block page-btn %}
    {#    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">#}
    {#        <i class="fas fa-edit fa-sm text-white-50"></i> {% trans 'Edit' %}#}
    {#    </a>#}
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <p>{% blocktrans %}Please select the type you want to create for the identifier you just scanned.{% endblocktrans %}</p>
                    <a href="#" class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50"><i class="fas fa-dot-circle"></i></span>
                        <span class="text">{% trans 'Create item' %}</span>
                    </a>
                    <div class="my-2"></div>
                    <a href="#" class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50"><i class="fas fa-box-open"></i></span>
                        <span class="text">{% trans 'Create container' %}</span>
                    </a>
                    <div class="my-2"></div>
                    <a href="#" class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50"><i class="fas fa-map"></i></span>
                        <span class="text">{% trans 'Create location' %}</span>
                    </a>
                    <div class="my-2"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}