{% extends 'base_page.html' %}
{% load i18n static bootstrap4 %}

{% block insert_in_header %}{{ block.super }}{{ form.media.css }}{% endblock %}
{% block js-load-bottom %}{{ block.super }}{{ form.media.js }}{% endblock %}

{% block title %}{% trans 'Update' %} {{ object }} | {{ block.super }}{% endblock %}
{% block page-title %}{% trans 'Update' %} {{ object }}{% endblock %}

{% block page-btn %}
    {#    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">#}
    {#        <i class="fas fa-edit fa-sm text-white-50"></i> {% trans 'Edit' %}#}
    {#    </a>#}
{% endblock %}


{% block page-content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form method="post" class="user" novalidate>{% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary btn-user btn-block">{% trans 'Save' %}</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
