{% extends 'base.html' %}
{% load i18n %}

{% block page-wrapper %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% block page-title %}{% endblock %}</h1>
        {% block page-btn %}
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        {% endblock %}
    </div>

    {% block page-content %}No Page-content provided.{% endblock %}
{% endblock %}


