{% load i18n static thumbnail %}

{% trans 'None' as default_none %}

<div class="col-lg-6">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{% trans 'Item' %}</h6>
        </div>
        <div class="card-body">
            <p><strong>{% trans 'Container' %}:</strong> {{ object.container|default_if_none:default_none }}</p>
            <p><strong>{% trans 'Location' %}:</strong> {{ object.location|default_if_none:default_none }}</p>
            <p><strong>{% trans 'Tags' %}:</strong><br>
                {% for tag in object.tags.all %}
                    <a href="{{ object.tag.get_absolute_url }}" class="badge badge-info">{{ tag }}</a>
                {% endfor %}
            </p>
            <p><strong>{% trans 'Identifier' %}:</strong> {{ object.identifier }}</p>
        </div>
    </div>
</div>

{# List associated images #}
{% if object.images.exists %}
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{% trans 'Images' %}</h6>
            </div>
            <div class="card-body">
                {% for image in object.images.all %}
                    <a href="{{ image.image.url }}"><img src="{{ image.image|thumbnail_url:'sixtyfour' }}" /></a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}